@use "../../MyPortal4/css2/reset/destyle.css";

@use "../../MyPortal4/css2/layout/layout";
@use "../../MyPortal4/css2/list/two_column_list";
@use "../../MyPortal4/css2/nav/tabNav";



:root {
    --bgColor: #eee;
    --textColor: #333;
    --textColor_weak: #777;
    --mainColor: #1e960c;
    }
